<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>1eaefe68-dee4-4caa-85d7-5c8c857a0b8e</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cS25OpXeGhLwjHVVbFzu43DMiu3jLeC7qLbVxHOb</string>
	<key>PROJECT_APP_UUID</key>
	<string>808e9d1b-dd14-41be-b7f3-c9a876a9d255</string>
</dict>
</plist>


      
   
